#insert-item {
    overflow: hidden;
    height: 100px;
    margin-top: 50px;
    border: 2px solid rgba(161, 161, 161, 0.5);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

#input-task {
    display: block;
    height: 50px;
    width: 100%;
    margin-left: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(161, 161, 161, 0.5);
    font-weight: bold;
    text-align: center;
}

#submit-button {
    height: 35px;
    width: 20%;
    margin-top: 6px;
    margin-left: 40%;
    border: none;
    border-radius: 17.5px;
    background-color: #3C86F5;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
